;
; config file
;

[ADMIN_LOGIN]
userName = "admin" ;please replace this
password = "password" ; please replace this

; Array's with an .ini file
; http://us.php.net/manual/en/function.parse-ini-file.php#75983
[BOARD_THICKNESS]
thickness[0] = "1/4in"
thickness[1] = "1/3in"
thickness[2] = "1/2in"

[BOARD_WIDTH]
board_width[0] = "4in"
board_width[1] = "6in"
board_width[2] = "8in"
board_width[3] = "10in"

[captcha_settings]
captcha_active = "false"
use_ssl = "false"
;no quotes
public_key = ;public key here, please add it
private_key = ;private key here, please add it